.home {
  margin-top: 6em;
  .tabContainer:first-of-type {
    margin-top: 6em !important;
  }
  .tabContainer {
    margin-top: 3em !important;
  }
  .homeCard {
    text-align: justify;
    color: lightgrey;
    padding: 1em;
  }
}
