.tabContainer {
    margin-top: 6.5em;
    max-width: 60%;
    .tabList {
        .tab[aria-selected="true"] {
            box-shadow: #61dafb 0 0px 20px;
            color: white;
        }
    }
    .tabPanel {
        margin-top: 1em;
    }
}

.InnerMenu {
    position: fixed;
    top: 3.0em;
    background-color: #282c34;
    width: 100%;
    height: 3em;
    z-index: 1;
    padding-top: 0.5em;
}